@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --white: #bbbbbb;
  --black: #161b22;
  --icon-size: 1.5em;

  --popUp-speed: 300ms;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header, 
footer {
  text-align: center;
  background-color: var(--black);
  color: white;
  padding: 5px 0;
}

header {
  text-align: start;
  padding: 0 0.5em;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header{
  font-size: 3em;
  font-weight: 700;
}

#hamburger {
  display: none;
}

main.container {
  padding: 1em;
  height: 100%;
  background-color: var(--white);
  display: flex;
  gap: 20px;
}

/* Projects container */
.all-projects {
  background-color: white;
  width: min(30%, 250px);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.task-project-title {
  padding: 0.70em 0.5em;
  font-size: 1.5em;
  color: white;
  background-color: var(--black);
  margin-bottom: 0.25em;
}

.project-name {
  padding: 0 0.5em;
  cursor: pointer;
  list-style-type: none;
  transition: all 300ms;
}

.project-name:hover {
  transform: translateX(5%);
}

.active-project {
  font-weight: 700;
}

#new-project {
  display: flex;
  width: 100%;
  padding: 0.5em;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
}

.btn.create {
  margin-right: 0.25em;
  font-size: 1.5em;
}

.new.project{
  width: 75%;
  background: transparent;
  color: grey;
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
  order: 2;
}

.project::placeholder {
  color: inherit;
  opacity: 0.6;
}

.project:focus::placeholder {
  opacity: 0.3;
}

/* To do list */
.todo-list {
  background-color: white;
  width: 80%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.hide {
  display: none;
}

.todo-header {
  background-color: var(--black);
  color: white;
  padding: 1em;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#delete-project {
  cursor: pointer;
  font-size: 1.75em;
}

#delete-project:hover {
  transform: scale(1.1);
}

.todo-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task {
  margin: 5px 1em;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 25px;
}

.task-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-options > i:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.edit-task {
  font-size: var(--icon-size)
}

.delete-task {
  font-size: calc(var(--icon-size) - 0.01em);
}

.add-task {
  cursor: pointer;
  margin: 0 auto;
  background-color: var(--black);
  color: white;
  border: 0;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
}

.add-task:active {
  transform: scale(0.9);
}

/* Popup Modal */
.modal-task-info,
.modal {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  pointer-events: auto;
  transition: all 300ms ease-in-out;
}

.modal-task-info.show,
.modal.show {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.modal-task,
.modal-container {
  padding: 0.75em 0;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;;
}

.modal-task {
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-task .task-title {
  background-color: var(--black);
  color: white;
  padding: 0.5em;
  font-size: 1.25em;
}

.modal-task p {
  margin: 0 0.5em;
}

.modal-task .task-description {
  margin: 0 0.5em;
  min-height: 30px;
  /* border: 1px solid grey;
  border-radius: 5px; */
}

.modal-task .task-dueDate {
  margin: 0 auto;
  width: 50%;
  height: 30px;
}

.overlay-burger,
.overlay {
  background-color: rgb(0, 0, 0, 0.3);
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms;
}

.overlay-burger.show,
.overlay.show {
  opacity: 1;
  pointer-events: all;
}

/* Form */
.modal form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.modal label {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal input,
textarea[name='desc'] {
  padding: 5px;
  width: 250px;
}

textarea {
  resize: none;
  height: 60px;
}

fieldset {
  padding-top: 10px;
  border: none;
  display: flex;
  gap: 10px;
}

.modal fieldset input {
  width: 150px;
}

#priority {
  width: 90px;
  height: 35px;
}

#cancel, #submit {
  border: none;
  width: 100px;
  padding: 10px 25px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

#cancel {
  background-color: red;
}

#submit {
  background-color: green;
}

.title-msg {
  color: red;
}

.error {
  border: 1px solid red;
}

@media (max-width: 400px) {
  body {
    position: relative;
  }

  header {
    padding: 0.25em 0.5em;
    text-align: start;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #hamburger {
    font-size: 0.85em;
    display: inline;
  }

  main.container {
    padding: 0;
  }

  .all-projects, 
  .todo-list {
    overflow: none;
    border-radius: 0;
  }

  .all-projects {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 60%;
    height: 100%;
    transition: all 500ms ease-in-out;
    transform: translateX(-100%);
  }

  .all-projects.show {
    transform: translateX(0%);
  }

  .todo-list {
    width: 100%;
  }

  .todo-header {
    background-color: #1d2530;
  }
}

